<section class="row">
  <article class="column">
ici
  </article>
  <article class="column">
la
  </article>
</section>

<div>Awesome Chat :D</div>
<div id="messages"></div>
<input id="chat-input" type="text"></input>

